
@{
    ViewBag.Title = "Review";
}

<div class="container-fluid">
    <div class="header">
        <h5 style="color:#fff;margin-right: 40px;">ItsReview App</h5>
    </div>

    <div class="container" style="padding-top:30px;">
        <form onsubmit="return false">
            @*<div class="form-group">
                        <label for="platform">Select Platform</label>
                        <select class="form-control dropdownPaltform" name="dropdownPaltform"></select>
                </div>*@
            <div class="form-group">
                <div>
                    <label for="" id="suggestemailName"></label>
                </div>
                <label for="emailid">Email Id :</label>
                <label for="suggestedemail" id="suggestemail"></label>
                <input type="hidden" id="hdnreview" value="0" />
                <input type="hidden" id="hdnAddress" value="0" />
                <input type="hidden" id="hdnListingUrl" value="0" />
                <input type="hidden" id="hdnCompanyId" value="0" />
                <input type="hidden" id="hdnWriterId" value="0" />
                <input type="hidden" id="hdnUserId" value="0" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="addressId" onclick="CopyAddress()" disabled>Address</button>
                <button type="submit" class="btn btn-primary" id="reviewbutton" onclick="disablereviewbutton()" disabled>Review</button>
                <button type="submit" class="btn btn-primary" id="listingurlbutton" onclick="disableurllistingbutton()" disabled>Listing Url</button>
            </div>
            <div class="form-group" id="buttons">
                <button type="submit" class="btn btn-primary" id="showing" disabled onclick="storedata(this.id)">Next</button>
                @*<button type="submit" class="btn btn-primary" id="notshowing" disabled onclick="storedata(this.id)">Not Showing</button>*@
                <button type="submit" class="btn btn-primary" id="skip" disabled onclick="storedata(this.id)">Skip</button>
                <button type="submit" class="btn btn-primary" id="Logout" onclick="storedata(this.id)">Log Out</button>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    var companyid = 0;
    var userid = 0;
    var writerid = 0;

    $(document).ready(function () {
        BindPaltform(0);
        BindEmailId();
        /*BindCompany();*/

    })

    function incTimer() {
        setTimeout(function () {
            document.getElementById('reviewbutton').disabled = null;
            document.getElementById('addressId').disabled = null;
            document.getElementById('listingurlbutton').disabled = null;
        }, 10000);
    }
     function BindPaltform(id) {
        $.ajax({
            url: "@Url.Action("GetPaltform", "Register")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var opt = new Option(item.Text, item.Value);
                    if (id == 0) {
                        $('.dropdownPaltform').append(opt);
                    }
                    else {
                        $(".dropdownPaltform").val(id);

                    }
                });
            }
        })
    }

    function disablereviewbutton() {

                var review = $("#hdnreview").val();
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(review).select();
                document.execCommand("copy");
                $temp.remove();
    }

    function CopyAddress() {
                var address = $("#hdnAddress").val();
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(address).select();
                document.execCommand("copy");
                $temp.remove();
    }

    function disableurllistingbutton() {
        var listingurl = $("#hdnListingUrl").val();
        window.open(listingurl, '_blank');

        setTimeout(function () {
        document.getElementById('showing').disabled = null;
            document.getElementById('skip').disabled = null;
        }, 5000);
    }


    function BindEmailId() {
        $("#hdnreview").val('');
        $("#hdnAddress").val('');
        $("#hdnListingUrl").val('');
        $("#hdnCompanyId").val('');
        $("#hdnWriterId").val('');
        $("#hdnUserId").val('');
        $("#suggestemailName").text('');
        $.ajax({
            url: "@Url.Action("GetList", "Register")",
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.user == null) {
                    $("label[for='suggestedemail']").text("work completed");
                }
                else if (data.user == "usernotlogin") {
                        var url = '@Url.Action("Login", "Login")';
                        window.location.href = url;
                }
                else if (data.user == "nocontent") {
                    $("label[for='suggestedemail']").text("No content");
                }
                else if (data.reviews.ReviewName == "reviewnotfound") {
                    $("label[for='suggestedemail']").text("Review not found");
                }
                else if (data.user == "usernotound") {
                    $("label[for='suggestedemail']").text("User not found");
                }
                else {
                    $("label[for='suggestedemail']").text(data.user.EmailId);
                    $("#hdnreview").val(data.reviews.ReviewName);
                    $("#hdnAddress").val(data.company.Address);
                    $("#hdnListingUrl").val(data.company.ListingUrl);
                    $("#hdnCompanyId").val(data.company.Id);
                    $("#hdnWriterId").val(data.reviews.Id);
                    $("#hdnUserId").val(data.user.Id);
                    $("#suggestemailName").text(data.user.FirstName);
                    incTimer();
                }


            }
        })
    }

    function storedata(id) {
        document.getElementById('showing').disabled = true;
        document.getElementById('skip').disabled = true;
        document.getElementById('reviewbutton').disabled = true;
        document.getElementById('addressId').disabled = true;
        document.getElementById('listingurlbutton').disabled = true;
        var buttonclick = id;
        var label = $('#suggestemail').text();
        var writeobject = new Object();
        writeobject.CompanyId = $("#hdnCompanyId").val(),
            writeobject.WriterId = $("#hdnWriterId").val(),
            writeobject.UserId = $("#hdnUserId").val();
        writeobject.Status = buttonclick,
            writeobject.EmailId = label;

         $.ajax({
            url: "@Url.Action("SaveTrackingData", "User")",
            contentType: 'application/json',
            data: JSON.stringify(writeobject),
          /*  dataType: "json",*/
            type: "POST",
             success: function (result) {
                 BindEmailId();
            },
             error: function (result) {
                 document.getElementById('showing').disabled = null;
                 document.getElementById('skip').disabled = null;
                 document.getElementById('reviewbutton').disabled = null;
                 document.getElementById('addressId').disabled = null;
                 document.getElementById('listingurlbutton').disabled = null;
                 alert('failure');
            }
        });

    }
</script>