body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.header {
    background-color: #1f81b2;
   /* background-color: #fff;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1111;
}

    .header h5 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        padding: 24px 0;
    }

.listingurl {
    border: 1px solid black;
    float: right;
    font-weight: bold;
}

.calendariconclass{
    float:right;
}

.dropdownclass
{
    width:130px;
}
.top_row {
    display: table;
    width: 100%;
}

    .top_row > div {
        display: table-cell;
        /*  width: 50%;*/
        border-bottom: 1px solid #eee;
        padding-left: 8px;
        padding-top: 10px;
    }


/*.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #2a2525;
}*/
.companyname, .listingurls ,.currentreview {
    width: 150px;
}
.reviewdate{
    float:none !important;
}

tr:nth-child(odd) {
    background: #f7f7f3;
}

tr:nth-child(even) {
    background: White;
}

.add-scroll {
    overflow-y: scroll;
    height: 500px;
}

/*select2 css*/
.select2-container {
    min-width: 300px;
}
/*OVER/*/

.ui-widget-header {
    border: 0px !important;
    background: #f9f9f9;
    color: #ffffff;
    font-weight: bold;
}

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #999;
        background: #999999 !important;
        font-weight: normal;
        color: #ffffff;
    }

.ui-state-hover a, .ui-state-hover a:hover {
    color: #026890;
}

@media only screen and (max-width: 700px) {
    #Leadlist, #SalesActiveList, #followup, #SalesInActiveTable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}