@{
    ViewBag.Title = "UserReport";
}

<div class="container">
    <div class="row form-group">
        <div class="col-md-6">
            <label for="date">From Date:</label>
            <div class='input-group date fromtodate'>
                <input type='text' class="form-control" id="txtFromDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="date">To Date:</label>
            <div class='input-group date fromtodate'>
                <input type='text' class="form-control" id="txtToDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <a onclick="BindUser()">Report Generate</a>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1" id="tab1">User Report</a></li>
            <li><a href="#tabs-2" id="tab2">Review Per Day Report</a></li>
        </ul>
        <div id="tabs-1">
            <div class="row">
                <div>
                    Review Count:
                    <label id="lblCount"></label>
                </div>
            </div>
            <div class="form-group">
                <table id="tblUserReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="tabs-2">
            <div class="form-group">
                <table id="tblReviewPerDayReport" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Expected Review</th>
                            <th>Posted Review</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        BindDate();
        $(function () {
            var tabs = $("#tabs").tabs({
                select: function (e, i) {
                    selected_tab = i.index;
                }
            });
           // selected_tab = $("#selectedTab").val() != "" ? parseInt($("#selectedTab").val()) : 0;
            tabs.tabs('select', selected_tab);
            //$("form").submit(function () {
            //    $("#selectedTab").val(selected_tab);
            //});
        });
    });

    function BindDate(){
        $('.fromtodate').datepicker({
            autoclose: true,
            format: "yyyy/mm/dd",
            orientation: 'bottom',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    }
    function BindUser() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();
        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }
        $.ajax({
            url: "@Url.Action("GetUserReport","Admin")",
            type: "GET",
            dataType: "json",
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $('#tblUserReport').dataTable({
                    destroy: true,
                    data: data,
                    "columns": [
                        { "data": "Name" },
                        { "data": "EmailId" },
                        { "data": "RecordCount" }
                    ]
                });
                var table = $('#tblUserReport').DataTable();
                var column = table.column(2);
                var reviewCount=column.data().reduce(function (a, b) {
                    return parseInt(a) + parseInt(b);
                })
                $("#lblCount").text(reviewCount);

            }
        })
        }

    function BindReviewDayReport() {
        var fromDate = $("#txtFromDate").val();
        var toDate = $("#txtToDate").val();

        if (fromDate == null || toDate == null) {
            alert("Please select date");
            return;
        }

        $.ajax({
            url: "@Url.Action("GetUserReviewDayReport", "Admin")",
            type: "GET",
           /* dataType: "json",*/
            data: {
                FromDate: fromDate,
                ToDate: toDate
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#tblReviewPerDayReport').dataTable({
                    destroy: true,
                    data: data,
                    "columns": [
                        {
                            "data": "CreatedDate",
                            render: function (data, type, row) {
                                var date = new Date(parseInt(data.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            }
                        },
                        { "data": "ExpectedReview" },
                        { "data": "UseReview" }
                    ]
                });
                //var table = $('#tblUserReport').DataTable();
                //var column = table.column(2);
                //var reviewCount=column.data().reduce(function (a, b) {
                //    return parseInt(a) + parseInt(b);
                //})
                //$("#lblCount").text(reviewCount);

            }
        })
    }

    $("#tabs").on('click', '#tab2', function () {
        BindReviewDayReport();
    })
    $("#tabs").on('click', '#tab1', function () {
        BindUser();
    })
</script>
